.style1 {
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 30%;
  height: 10vh;
  width: 10vw;
  text-align: center;

}


  body {
    margin: 0;display: flex; 
    width: 100vw; height: 100vh; 
    background-color: rgb(54, 54, 54); 
    align-items: center; justify-content: center;
  }
  #div1 {
    height: 10vh; 
    width: 10vw; 
    border: 1px solid white; 
    border-radius: 50%; 
    background-color: lightblue;
  }
  #div2 {
    height: 10vh; 
    width: 10vw; 
    border: 1px solid white; 
    border-radius: 50%; 
    background-color: lightgreen;
  }
  img {
    height: 10vh; 
    width: 10vw; 
    border: 1px solid white; 
    border-radius: 50%;
  }